.sidebar {
  position: fixed;
  background: white;
  min-width: 150px;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(110%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  &.open {
    transform: none;
  }
}