$primary: #f0d300;
$dark: #191919;

@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_utilities";

@font-face {
  font-family: 'Vazir';
  src: local('Vazir'), local('Vazir-Regular'),
  url('../fonts/Vazir.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/Vazir.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  text-align: right;
  font-family: 'Vazir';
  user-select: none;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Vazir';
  }
}

.main.with-sidebar {
  margin-right: 250px;
}

footer {
  width: 100%;
  background: $dark;
}

.heading {
  display: table;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
  }
}